$logo-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

#intro {
    border-bottom-width: 3px;
}

.post .post-content .highlight {
    word-wrap: normal;
}

.post .post-content .highlight table td:first-child {
    overflow: hidden;
}

.content .post .post-content a {
    word-break: break-word;
}

.highlight + p > em.listing:only-child {
  font-size: 0.9em;
  position: relative;
  top: -10px;
}

.post-content h4 {
  font-size: 18px;
}

.post-content h5 {
  font-size: 16px;
}
