$logo-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

#intro {
    border-bottom-width: 3px;
}

.post .post-content .highlight {
    word-wrap: normal;
}

.post .post-content .highlight table td:first-child {
    overflow: hidden;
}

.content .post .post-content a {
    word-break: break-word;
}

.highlight + p > em.listing:only-child {
  font-size: 0.9em;
  position: relative;
  top: -10px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 20px;
}

.post-content h5 {
  font-size: 18px;
}

.post-content ul > li, .post-content ol > li {
  margin-bottom: 1px;
  line-height: 1.7em;
}

.post-content ol {
  padding-left: 1.5em;
}

.post-content ol > li {
  margin:0;
  // padding:0 0 0 1em;
  text-indent:-1em;
  list-style-type:none;
  counter-increment:item;
}

.post-content ol > li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

#content .post .post-content hr {
  margin: 2.5rem auto;
  width: 50%;
}

#content .post .post-content a:hover {
  text-decoration: underline;
  border: none;
}

// No underling for the little icon to the left of titles
#content .post .post-content a.anchor:hover {
  text-decoration: none;
}

#content .post .post-content a.anchor {
  top: 0.1em;
  position: relative;
}

.post-toc-content a:hover {
  text-decoration: underline;
}

.post-toc {
  max-height: 90%;
  overflow-y: auto;
}

.post .post-content p code {
  padding: 1px 3px;
}